body {
    background-color: #2C2F33;
}

.main {
    background-color: white;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    padding: 15px;
    font-family: sans-serif;
}

.intro {
    padding-bottom: 5px;
    font-size: 17px;
}

.bottom-nav {
    margin-top: 15px;
    display: inline-block;
}

a {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.bottom-nav a + a:before{
    content: " | ";
    padding: 0 10px;
}