{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}
<h1>Help</h1>
<h2>How do I request an invite?</h2>
<p>Please enter your Reddit username and select the role which best describes you. If you're a tutor or interested in
becoming a tutor, please select the tutor role. Students interested in reaching a tutor should select the student role.
For all other inquiries, please select other.</p>
<h2>How many times can I use the invite?</h2>
<p>Invites are valid for 1 use and automatically expire after being used. If you weren't able to join the server before
the invite expired, please request a new one.</p>
<h2>I've joined the server - how can I get help?</h2>
<p>Please state your question directly in the channel. Even if there may not appear to be anyone active, we've setup
Discord to automatically notify the relevant people for new activity in the channel. Please set your Discord display name
to your Reddit username.</p>
{% endblock %}