{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}
<h1>Privacy</h1>
<p>Please note certain identifying information (e.g. Reddit username, IP address) is automatically recorded for users
of the invite request system. The data is stored in a database and reported to a non-public Discord channel for mitigating
abuse. We do not release personal information collected through the invite request system to third-parties unless legally
compelled to do so by valid United States legal order. While steps have been taken to prevent the unauthorized disclosure
of data, we cannot be held liable for breaches and other incidents which result in the disclosure of private data.
<strong>Do not use the system if you do not agree to our data collection practices.</strong></p>
{% endblock %}